<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="col-md-12">
                <h3><strong>Cantidad de registros</strong> <small class="btn btn-danger btn-sm">{{ colores.length }}</small></h3>
            </div>
            <hr/>

            <div class="collapse col-12" id="collapseExample">
                <div class="card card-body">

                    <form class="form-row" [formGroup]="colorForm" (ngSubmit)="Guardar(colorForm.value)">
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" formControlName="colorID" placeholder="ID">
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" formControlName="color" placeholder="Color">
                        </div>

                        <div class="form-group col-md-1">
                            <input type="color" class="form-control col-md-12" formControlName="codigo" placeholder="Codigo">
                        </div>

                        <div class="form-group col-md-3">
                            <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                    </form>

                </div>
            </div>

            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Color</th>
                        <th></th>
                        <th>
                            <button class="btn btn-primary btn-sm" style="float: right;" type="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                              <i class="fas fa-plus"></i>
                          </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of colores">
                        <td class="font-bold"><strong>{{c.colorID}}</strong></td>
                        <td>
                            <span><i class="fas fa-bookmark"></i> {{ c.color }}</span>
                        </td>
                        <td [ngStyle]="{'background': c.codigo}">
                        </td>
                        <td class="text-right" style="width: 100px;">
                            <a class="btn btn-sm btn-info" [routerLink]=""><i class="fas fa-edit"></i></a>
                            <button class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>