<div class="col-12">
    <div class="card">
        <div class="card-body">

            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Logo</th>
                        <th scope="col">Modelos Registrados</th>
                        <th scope="col"><a [routerLink]="['nuevo']" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i></a></th>
                    </tr>
                </thead>
                <tbody style="border-bottom: 2px #000000 solid;">
                    <tr *ngFor="let marca of marcaLista | paginate: { itemsPerPage: 15, currentPage:pageIndex }">
                        <td>
                            <strong>{{ marca.marca_nombre }}</strong>
                        </td>
                        <td>
                            <img src="http://localhost:49465/UploadedFiles/{{ marca.img }}" class="img-thumbnail" style="width: 40px;" />
                        </td>
                        <td>
                            <strong>{{ marca.cantidad }}</strong>
                        </td>
                        <td class="text-right" style="width: 100px;">
                            <a class="btn btn-sm btn-info" [routerLink]="[marca.marcaID]"><i class="fas fa-edit"></i></a>
                            <button class="btn btn-sm btn-danger" (click)="Eliminar(marca.marcaID)"><i class="far fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="text-md-center">
                    <td colspan="4">
                        <pagination-controls (pageChange)="pageIndex = $event" class="paginacion" [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"></pagination-controls>
                    </td>
                </tfoot>
            </table>

        </div>
    </div>
</div>