<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="col-md-12">
                <h3><strong>Modelos: registrados</strong> <small class="btn btn-danger btn-sm">{{ modelos.length }}</small></h3>
            </div>
            <hr/>

            <!--Collapse para realizar registro-->
            <div class="collapse" id="collapseExample">
                <form [formGroup]="modeloForm" (ngSubmit)="Guardar(modeloForm)" class="form-row" style="margin: 0px;">
                    <input type="text" class="form-control" formControlName="modeloID" hidden/>
                    <div class="form-group col-md-3">
                        <select formControlName="marcaID" id="marcaID" class="select2 form-control custom-select" style="width: 100%; height:36px;" name="marcaID">
                                                    <option class="text-light bg-primary" disabled="true" value="0">Seleccione una marca</option>
                                                    <option *ngFor="let m of marcaLista" style="margin-left: 15px;" value="{{ m.marcaID }}" 
                                                    [selected]="">{{ m.marca_nombre }}</option>
                                                </select>
                    </div>
                    <div class="form-group col-md-3">
                        <select formControlName="categoriaID" id="categoriaID" class="select2 form-control custom-select" style="width: 100%; height:36px;" name="categoriaID">
                                                        <option class="text-light bg-primary" disabled="true" value="0">Seleccione una categoria</option>
                                                        <option *ngFor="let c of categoriaList" style="margin-left: 15px;" value="{{ c.categoriaID }}" 
                                                        [selected]="">{{ c.categoria_nombre }}</option>
                                                    </select>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" formControlName="modelo_nombre" placeholder="Nombre del modelo">
                    </div>
                    <div class="form-group col-md-2">
                        <button [disabled]="!modeloForm.valid" type="submit" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </form>
                <hr/>
            </div>
            <!--Fin Collapse-->

            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Modelo</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Categoria relacionada</th>
                        <th>
                            <button class="btn btn-primary btn-sm" style="float: right;" type="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                <i class="fas fa-plus"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mod of modelos | paginate: { itemsPerPage: 15, currentPage:pageIndex }">
                        <td>
                            {{ mod.modelo_nombre}}
                        </td>
                        <td>
                            {{ mod.marca_nombre}}
                        </td>
                        <td>
                            {{ mod.categoria_nombre}}
                        </td>
                        <td class="text-right" style="width: 100px;">
                            <a class="btn btn-sm btn-info" [routerLink]=""><i class="fas fa-edit"></i></a>
                            <button class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="text-md-center">
                    <td colspan="4">
                        <pagination-controls (pageChange)="pageIndex = $event" class="paginacion" [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"></pagination-controls>
                    </td>
                </tfoot>
            </table>
        </div>
    </div>
</div>